.bigBox {
    display: flex;
    flex-direction: column;
}

.first, .second, .third {
    height: 50vh;
    width: 100vw;
    color: white;
}

.first {
    background-color: #000080;
}

.second {
    background-color: #808080;
}

.third {
    background-color: #2a2f23;
}